//inner pages
.inner-welcome
	min-height: 215px
	+cover
	h2
		margin-top: 70px
		color: #FFF
		&:before
			background: #FFF
	+r(768)
		text-align: center
		h2
			display: inline-block
			text-align: left