//top bar
.top_bar, .icon_texts
	.top_bar_language
		float: left
		margin-bottom: 0
		li
			position: relative
			display: inline-block
			margin-right: 30px
			vertical-align: middle
			line-height: 34px
			a
				display: block
				color: #8A8A8A
				font-size: 11px
				text-transform: uppercase
				+transition(color 0.2s ease)
				&:hover,
				&.is-active
					color: #FFF
			&.active
				a
					color: #FFF
	.top_bar_info
		li
			position: relative
			padding: 0 20px
			color: #8A8A8A
			&:before
				display: none
			&.is-border
				&:before
					position: absolute
					display: block
					top: 8px
					left: 0
					margin: 0
			&:last-child
				padding-right: 0
			.fa
				vertical-align: middle
				&.fa-envelope-o
					font-size: 14px
			span
				display: inline-block
				vertical-align: middle
		a
			display: block
			color: #8A8A8A
			+transition(color 0.2s ease)
			&:hover
				color: #FFF

.icon_texts
	padding: 0 0 20px
	text-align: center
	.top_bar_language
		margin-bottom: 10px
		float: none
		li
			margin: 0 15px
	.top_bar_info
		text-transform: uppercase
		li
			padding: 0
			margin-bottom: 15px
		i
			margin-right: 10px
		.btn-red
			margin-bottom: 0


//logo
.logo
	float: left
	p
		margin-bottom: 0
		font-size: 27px
		text-transform: uppercase
		color: #E12633
		line-height: 1
		letter-spacing: 0.05em
		+rob-slab-b
	small
		display: block
		font-size: 10px
		text-transform: uppercase
		color: #9F9F9F
		text-align: center
		letter-spacing: 0.4em
		+rob-slab
	+r(1200)
		float: none
		text-align: center


//main menu
.main_menu_nav
	li
		a
			padding: 24px 15px
			font-size: 14px
			font-weight: normal
			+rob-black
			+transition(color 0.2s ease, background 0.2s ease)
		&.active
			a
				color: #e12633
		

body.header_style_white .top_nav .top_nav_wrapper > ul
	+r(1200)
		float: none
		margin: 0 auto
		text-align: center
		font-size: 0
		li
			float: none
			display: inline-block
			vertical-align: top
	+r(992)
		li a
			padding: 10px 15px


//welcome
.welcome
	position: relative
	height: 600px
	-webkit-background-size: cover
	-o-background-size: cover
	background-size: cover
	.welcome__in
		position: absolute
		top: 50%
		left: 50%
		width: 675px
		height: 265px
		margin: -132.5px 0 0 -337.5px
		padding: 50px 15px 25px
		text-align: center
		background: #fff
		+box
		&:before
			content: ""
			position: absolute
			top: -9px
			left: -9px
			bottom: -9px
			right: -9px
			background: rgba(#fff, 0.4)
			z-index: 0
	.welcome__bl
		position: relative
		z-index: 1
	.welcome__ttl
		font-size: 42px
		color: #292929
		+rob-b
		p
			margin-bottom: 0
			line-height: 1.2
	.welcome__txt
		margin-top: 10px
		font-size: 16px
		color: #292929
	.txt-red
		color: #E12633
	.fa.fa-angle-down
		margin-top: 20px
		font-size: 35px
		color: #E12633
	+r(992)
		.welcome__ttl
			font-size: 35px
	+r(768)
		.welcome__in
			top: 0
			width: 280px
			height: auto
			margin: 0 0 0 -140px
			+transform(translateY(50%))
		.fa.fa-angle-down
			margin-top: 0

//section
.section
	padding: 65px 0
	+clr
	&.no-bottom-pad
		padding-bottom: 0
	&.m-bottom-pad
		padding-bottom: 45px
	&.no-pad
		padding: 0
	&.with-margin
		margin-right: -10px
	.section__in
		margin-top: 35px
		p
			font-size: 16px
	.section__bl
		float: left
		width: 50%
		&.w-65
			width: 65%
		&.w-35
			width: 35%
		&.w-33
			width: 33.33%
	.section__img
		max-width: 100%
	.section__txt
		padding-left: 45px
		color: #777
		font-size: 15px
		line-height: 1.5
		.section__ttl, p
			margin-bottom: 20px
	.section__ttl
		color: #333
		font-size: 30px
		+rob-black
	.section__place
		margin-left: 50px
		overflow: auto
		height: 420px
		ol
			margin-bottom: 20px
	.fa-check
		color: #e12633
	+r(768)
		.section__bl
			float: none
			margin-bottom: 20px
			width: 100%
			&.w-65
				width: 100%
			&.w-35
				width: 100%
			&.w-33
				width: 100%
		.section__img
			display: block
			margin: 0 auto 40px
		.section__txt
			padding: 0 20px
		.section__place
			margin: 30px auto 0
			max-width: 300px

.fullwidth
	background: #f7f7f7 url(../img/bg.png) repeat
	&.is-dark
		background: #3d3d3d url(../img/pattern_1.png) repeat
		h2
			color: #FFF
	&.with-margin
		margin: 65px 0

.item-wrap
	font-size: 0
	&.txt-center
		text-align: center
	.item
		position: relative
		display: inline-block
		width: 25%
		margin-bottom: 65px
		font-size: 16px
		text-transform: uppercase
		color: #3D3D3D
		text-align: center
		+rob-black
		&.is-hover
			.item__txt
				&:before
					display: block
			&:hover
				.item__txt
					&:before
						display: none
		span
			display: inline-block
	.item__txt
		position: relative
		&:before
			content: ""
			display: none
			position: absolute
			height: 1px
			left: 0
			right: 0
			bottom: -2px
			background: #C2C2C2

	.icon
		display: inline-block
		margin-bottom: 20px
	.sport_ico
		+s(sport)
	.spa_ico
		+s(spa)
	.restaurant_ico
		+s(restaurant)
	.hall_ico
		+s(hall)
	.garage_ico
		+s(garage)
	.cup_ico
		+s(cup)
	.wifi_ico
		+s(wifi)
	.city_ico
		+s(city)
	.clean_ico
		+s(clean)
	.security_ico
		+s(security)
	+r(992)
		.item
			width: 50%
	+r(768)
		.item
			width: 100%

.colwrap
	display: block
	margin: 0 -10px
	+clr
	&.m-top
		margin-top: 45px
	.col
		float: left
		width: 50%
		font-size: 0
		&.col-100
			float: none
			width: 100%
	.col__bl
		display: inline-block
		width: 100%
		padding: 0 10px 20px
		vertical-align: middle
		font-size: 0
		&.is-top
			vertical-align: top
		&.bl-50
			width: 50%
			.fancybox, .col__link
				img
					max-height: 100% 
		&.bl-33
			width: 33.33%
		.col__card
			position: relative
			&:hover
				.col__btn
					background: darken(#f73749, 10%)
					
			&.is-vip
				.col__el
					&:after
						content: ''
						position: absolute
						top: 23px
						right: 23px
						border-radius: 4px
						height: 45px
						width: 45px  
						background: #fff url(../img/icons/star.png) center no-repeat 
						
	.col__el
		position: relative
		width: 100%
		max-width: 400px
		height: 240px
		text-transform: uppercase
		color: #FFF
		font-size: 16px
		-webkit-background-size: cover
		-o-background-size: cover
		background-size: cover
		background-repeat: no-repeat
		background-position: 50% 50%
		+rob-black
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			box-shadow: inset 0px -35px 50px 0px rgba(0,0,0,0.5)
			z-index: 1

	.col__name
		position: absolute
		left: 25px
		bottom: 20px
		z-index: 2
	.fancybox, .col__link
		display: inline-block
		font-size: 0
		line-height: 0
		img
			max-width: 100%
	.col__link
		position: relative
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background: rgba(#000, 0.6)
			z-index: 1
		span
			position: absolute
			top: 50%
			left: 0
			right: 0
			margin-top: -8px
			text-align: center
			color: #FFF
			font-size: 16px
			line-height: 1
			white-space: nowrap
			z-index: 2
	.col__txt
		padding: 30px 7% 25px
		text-align: left
		color: #333
		font-size: 16px
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07)
		+clr
		.txt-bold, strong
			+rob-b
		.txt-bold
			font-size: 18px
	.col__info
		margin-bottom: 15px
		+clr
	.col__btn
		float: right
		margin-left: 10px
		padding: 10px 20px
		color: #fff
		background: #F73749
		border-radius: 3px
		+transition(background 0.2s ease)
		&.s-pad
			padding: 10px
		&:hover
			background: darken(#f73749, 10%)
	.col__person
		position: relative
		float: right
	.person_ico
		position: absolute
		top: -5px
		left: -17px
		+s(person)
	+r(992)
		.col
			float: none
			width: 100%
			&.col-100
				text-align: center
		.col__bl
			&.bl-50
				.fancybox, .col__link
					img
						max-height: inherit
			&.bl-33
				width: 50%
				img
					width: 100%
		.fancybox, .col__link
			display: block
			img
				width: 100%
	+r(768)
		.col
			text-align: center
			&.col-100
				margin: 0
		.col__bl
			max-width: 400px
			padding-bottom: 30px
			&.bl-50
				width: 100%
			&.bl-33
				width: 100%
		.col__el
			margin: 0 auto
		.col__txt
			font-size: 14px

//slider
.slick
	img
		display: none
		&:first-child
			display: block
			max-width: 100%
	&.is-carousel
		.slick-prev,
		.slick-next
			top: 50%
			margin-top: -22.5px
			bottom: inherit
		.slick-prev
			right: 100%
			margin-right: 6%
		.slick-next
			right: inherit
			left: 100%
			margin-left: 6%
		img
			padding: 0 10px
	ul.slick-dots
		left: 20px
		bottom: 20px
		li
			margin-right: 9px
			padding-left: 0
			&.slick-active
				button
					opacity: 1
					background: #fff
			button
				width: 12px
				height: 12px
				background: none
				box-shadow: none
				border: 1px solid
				border-color: rgba(#fff, 0.7)
	.slick-prev,
	.slick-next
		width: 45px
		height: 45px
		top: inherit
		bottom: 20px
		margin: 0
		border: 3px solid #ccc
		&:before
			margin-top: -1px
			font-size: 22px
			font-family: "FontAwesome"
			line-height: 45px
			color: #ccc
		&:hover
			border-color: #f73749
			background: #F73749
			&:before
				color: #fff
	.slick-prev
		right: 75px
		left: inherit
		&:before
			content: "\f053"
			margin-right: 3px
	.slick-next
		right: 20px
		&:before
			content: "\f054"
			margin-left: 3px
	+r(1360)
		&.is-carousel
			.slick-prev
				margin-right: -55px
			.slick-next
				margin-left: -55px

//scroll
.scroll
	.mCSB_scrollTools
		width: 4px
		.mCSB_dragger
			&:hover
				.mCSB_dragger_bar
					background-color: #f73749
			.mCSB_dragger_bar
				background-color: #f73749
				-webkit-border-radius: 0
				border-radius: 0
		&.mCSB_scrollTools_onDrag
			.mCSB_dragger
				.mCSB_dragger_bar
					background-color: #F73749
		.mCSB_draggerRail
			width: 4px
			background-color: #efefef
			-webkit-border-radius: 0
			border-radius: 0

//footer
.footer
	height: 65px

.footer_wrapper
	+clr
	.copyright
		float: left
	.footer__made
		float: right
		font-size: 13px
		color: #aaaaaa
	.footer__link
		color: #aaaaaa
		text-decoration: underline !important
		&:hover
			text-decoration: none !important
	+r(768)
		.copyright,
		.footer__made
			float: none
			margin: 5px 0
			text-align: center
